* {
  box-sizing: border-box;
  margin: 0;
}

nav {
  background-color: #ffb996;
  margin-bottom: 50px;
}

#textLogo{
    font-weight: bold;
    color: #004669;
}

.vl {
  border-left: 0.25em solid #004669;
  height: 3em;
  border-radius: 25%;
  margin: 0px 30px;
}

a {
  color: #004669;
}

#logo {
  height: 70px;
}


/* <select> styles */
select {
  border: 0;
  outline: 0;
  
  /* Personalize */
  width: 10rem;
  padding: 1rem 4rem 1rem 1rem;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 70, 105, 0.2);
  cursor: pointer;
 
  color:rgba(0, 70, 105, 0.8) ;
}

#room-supply{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    border-radius: 2%;
    padding: 10px;
    border: 2px solid rgba(0, 70, 105, 1);
    width: 30em;
}
